.Weather {
  max-width: 1000px;
  margin: 40px auto;
  padding: 40px 100px 100px 60px;
  border: 2px solid #d6d5da;
  border-radius: 10px;
  background-color: white;
}

.Weather form {
  text-align: center;
}

.Weather h1 {
  color: #5f3f3f;
  font-size: 45px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
}

.Weather .temperature {
  color: rgb(201, 139, 139);
  font-size: 70px;
  font-weight: bold;
  padding: 25px 20 0 0;
  margin-top: 50px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(201, 139, 139);
  font-size: 70px;
  font-weight: bold;
  margin-top: 50px;
  font-weight: 400;
}

.Weather .col-6 {
  margin-top: 20px;
}
.Weather .col-3 {
  margin: 20px;
  text-align: center;
}

.Weather img {
  border-radius: 70%;
  margin-right: 10px;
  height: 170px;
  width: 170px;
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.Weather ul {
  margin: 20px;
  padding: 0;
}

.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 25px;
  font-weight: 100;
  line-height: 30px;
  list-style: none;
}

.Weather li:first-letter {
  text-transform: capitalize;
}
